section {
    width: 1000px;
    height: fit-content;
    margin: 3rem auto;
    padding: 1rem 0;
    background-color: navy;

    /* Your code here: */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 50rem;
    height: 6rem;

}

div {
    background-color: brown;

    /* Your code here: */
    display: flex;
    width: 25%;
    height: 60%;
}

